<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/Roboto.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/Corporate-Footer-Clean.css">
    <link rel="stylesheet" href="~/assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="~/assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="~/assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/MUSA_carousel-product-cart-slider-1.css">
    <link rel="stylesheet" href="~/assets/css/MUSA_carousel-product-cart-slider.css">
    <link rel="stylesheet" href="~/assets/css/Projects-Horizontal.css">
    <link rel="stylesheet" href="~/assets/css/Shopping-Grid.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="~/assets/css/sticky-dark-top-nav-with-dropdown.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="~/assets/js/Simple-Slider.js"></script>
</head>

<body>
    <section class="projects-horizontal">
        <div class="container">
            <div class="intro"></div>
            <div class="simple-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;Antariksh</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-home"></i>&nbsp;Home</a></li>
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-wpexplorer"></i>&nbsp;Explore</a></li>
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-star-o"></i>&nbsp;Features</a></li>
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-user-circle-o"></i>&nbsp;Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link active" style="color:#ffffff;" href="#"><i class="fa fa-sign-in"></i>&nbsp;Sign In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-3">
                    <h4>Lorem Ipsum dolor</h4>
                    <ul class="footer-links">
                        <li><a href="#">Consectetur adipiscing</a></li>
                        <li><a href="#">Facilisis vulputate est eget</a></li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Sed elit eros</h4>
                    <ul class="footer-links">
                        <li><a href="#">Aenean condimentum viverra</a></li>
                        <li><a href="#">Proin porta diam</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Donec quis turpis vel</h4>
                    <ul class="footer-links">
                        <li><a href="#">Proin laoreet volutpat</a></li>
                        <li><a href="#">Aenean tincidunt est</a></li>
                    </ul>
                    <h4>Nulla cursus finibus</h4>
                    <ul class="footer-links">
                        <li><a href="#">Curabitur elementum odio</a></li>
                        <li><a href="#">Proin condimentum ac</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3">
                    <h4>Nullam ut rutrum elit</h4>
                    <ul class="footer-links">
                        <li><a href="#">Praesent gravida</a></li>
                        <li><a href="#">Praesent egestas</a></li>
                    </ul>
                    <h4>Ut eget feugiat ante</h4>
                    <ul class="footer-links">
                        <li><a href="#">Etiam ornare vestibulum</a></li>
                        <li><a href="#">Donec tincidunt tempus</a></li>
                    </ul>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
            <hr>
            @*<div class="footer-legal">
                <div class="float-md-right region"><a href="#"><img src="~/assets/img/united-states-flag.png">United States</a></div>
                <div class="d-inline-block copyright">
                    <p class="d-inline-block">Copyright © 2018. All rights reserved.<br></p>
                </div>
                <div class="d-inline-block legal-links">
                    <div class="d-inline-block item">
                        <h5>Privacy Policy</h5>
                    </div>
                    <div class="d-inline-block item">
                        <h5>Terms of Use</h5>
                    </div>
                    <div class="d-inline-block item">
                        <h5>Legal</h5>
                    </div>
                    <div class="d-inline-block item">
                        <h5>License</h5>
                    </div>
                </div>
            </div>*@
        </div>
    </footer>
  
</body>

</html>