
.az-iconbar-primary {
    background-color: #14B45C;
    padding-top: 0;
}

    .az-iconbar-primary .az-iconbar-logo {
        background-color: #14B45C;
        color: #fff;
        height: 64px;
    }



.az-logo {
    font-weight: 700;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    /* text-transform: lowercase;*/
    color: #1cab4e;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    position: relative;
    top: -2px;
}

.form-group {
    margin-left: 10px;
    margin-bottom: 1rem;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.colorTextRevenue {
    color: #1492E6;
}

.colorTextfeeLost {
    color: #FF5151;
}

.colorTextProfit {
    color: #1CAB4E;
}

.colorTextfeeRequired {
    color: #FFBB00;
}

.switchCB {
    position: relative;
    display: inline-block;
    width: 10%;
    padding: 2.2%;
}

    .switchCB .inputCB {
        opacity: 0;
        width: 0;
        height: 0;
    }

.sliderCB {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .sliderCB:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.inputCB:checked + .sliderCB {
    background-color: #1CAB4E;
}

.inputCB:focus + .sliderCB {
    box-shadow: 0 0 1px #1CAB4E;
}

.inputCB:checked + .sliderCB:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.sliderCB.round {
    border-radius: 34px;
}

    .sliderCB.round:before {
        border-radius: 50%;
    }


.message-box {
    /* padding-left: 10px; */
    /* margin-top: 50px; */
}

.az-content-body-chat {
    flex: 1;
}

.content-inner {
    word-break: break-word;
}

.limit-row-1 {
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.table-project th {
    padding: 12px !important;
}






a {
    cursor: pointer !important
}
/* crazy batman newspaper spinny thing */
.rotate {
    transform: rotate(180deg);
    transition: all 0.5s;
}

    .rotate.in {
        transform: rotate(1800deg);
        transition: all 1.5s;
    }

audio:focus {
    outline: none;
}

.disabled-div {
    pointer-events: none;
    opacity: 0.4;
}

.mg-b-12 {
    margin-bottom: 12px;
}

.loading-page {
    position: fixed;
    z-index: 10000000;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
    /* Transparent Overlay */
    .loading-page:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 20%);
    }
    /* :not(:required) hides these rules from IE9 and below */
    .loading-page:not(:required) {
        /* hide "loading..." text */
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading-page:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            border-radius: 0.5em;
        }

.div-hidden {
    display: none;
}

.select2-container--open, .ui-datepicker {
    z-index: 1051 !important;
}

.ul-sub-temp {
    list-style: none;
    padding: 0px;
}

    .ul-sub-temp li {
        /* border-bottom: 1px solid #cdd4e0; */
        padding: 10px 0px;
    }

    .ul-sub-temp ul {
        border-top: 1px solid #cdd4e0;
        /* padding: 13px 29px; */
        margin-top: 12px;
        list-style: none;
    }

audio {
    height: 40px;
}

.az-content-app-cus {
    padding-top: 20px;
}

@media (min-width: 992px) {
    .az-content-app-cus {
        height: calc(100vh - 128px);
        padding-top: 30px;
    }
}

.az-content-app-cus .container,
.az-content-app-cus .container-fluid {
    height: 100%;
    padding: 0;
}

#form-search-ticket {
    /* background: #e3e7ed70; */
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.chat-container {
    max-width: 100% !important;
}

.list-ticket .media {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0px;
}

    .list-ticket .media a {
        color: #3b4863;
        font-weight: 400;
    }

    .list-ticket .media :hover {
        color: #3366ff;
    }

    .list-ticket .media a i {
        color: #fff;
        background: #14b45c;
        font-size: 15px;
        padding: 2px;
        border-radius: 2px;
    }

.img-msg-from {
    position: absolute;
    top: 6px;
    left: 7px;
}

    .img-msg-from img {
        /* position: absolute; */
        width: 20px;
    }

.message-image {
    max-width: 300px;
}

.ticket-content {
    background: #ffff;
    padding: 12px !important;
}

@media (max-width: 768px) {
    .ticket-content {
        min-height: calc(100vh - 129px) !important;
    }
}

#form-search-ticket .form-control {
    margin-left: 0px;
}

#form-search-ticket .form-group {
    margin-left: 0px;
}

.ticket-box p {
    color: #004d85;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 13px;
}

.ticket-box .list-group-item {
    background: #fff;
    border: none;
    border-top: 1px solid #9e9e9e4f !important;
}

.scrollspy-div {
    position: relative;
    margin-top: .5rem;
    overflow: auto;
}

.az-content-app-cus {
    height: calc(100vh - 128px);
    padding-top: 30px;
}

.modal {
    overflow-y: auto;
}

@media (min-width:992px) {
    .ticket-height {
        height: calc(100vh - 129px) !important;
        overflow-y: auto;
    }

    .ticket-detail-side-panel {
        height: calc(100vh - 191px) !important;
        overflow-y: auto
    }

    .close-detail {
        display: none !important;
    }
}

@media (min-width:768px) {
    .ticket-detail-side-panel {
        height: calc(100vh - 191px) !important;
        overflow-y: auto
    }
}

.lds-loading {
    display: inline-block;
    margin: auto;
}

    .lds-loading div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 9px;
        background: #e3e7ed;
        animation: lds-loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .lds-loading div:nth-child(1) {
            left: 15px;
            animation-delay: -0.24s;
        }

        .lds-loading div:nth-child(2) {
            left: 32px;
            animation-delay: -0.12s;
        }

        .lds-loading div:nth-child(3) {
            left: 50px;
            animation-delay: 0;
        }

@keyframes lds-loading {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.center-custom {
    position: relative;
    margin: auto;
    width: 99px;
    /* border: 3px solid #73AD21; */
    padding: 21px;
}

#list-project {
}

    #list-project .col-md-3 {
        max-width: 350px;
        margin-bottom: 20px;
        min-width: 350px;
    }

        #list-project .col-md-3 .card {
        }

        #list-project .col-md-3 .card-body {
            padding: 13px;
        }

            #list-project .col-md-3 .card-body p {
                margin: 0px;
                font-size: 12px;
                padding: 6px 0px;
            }

            #list-project .col-md-3 .card-body h6 {
                margin: 0px;
            }

        #list-project .col-md-3 .media-body a {
            /* float: right; */
            /* margin-left: 10px; */
        }

        #list-project .col-md-3 .az-avatar {
            margin-right: 12px;
            width: 60px;
            height: 60px;
        }

.btn-add-project {
    background: #fff;
    height: 93px;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    /* box-shadow: 0 0 6px rgba(28, 39, 60, 0.12); */
    width: 100px;
    border-radius: 15px;
}

#list-project .col-md-3 .az-avatar::after {
    display: none;
}

.text-align-center {
    position: relative;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.elipse-checked {
    list-style-image: url('../Content/img/Ellipse_Checked.png');
}

.elipse-uncheck {
    list-style-image: url('../Content/img/Ellipse_Uncheck.png');
}

.ticket-detail-right-button {
    font-size: 0.875em !important;
    padding: 6px 12px;
}

#list-project .col-md-3 .az-avatar::after {
    display: none;
}

.text-align-center {
    position: relative;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.row-ticket-detail {
    width: 100%;
    margin-left: 0;
}

.az-column-signup-left {
    background-image: url(../../Assets/img/header_background.svg);
    position: relative;
    background-size: cover;
    min-height: 600px;
    color: #ffff;
}

    .az-column-signup-left .az-logo img {
        width: 250px;
        margin-bottom: 20px;
    }

.btn-rounded {
    border-radius: 50px;
    margin: 4px 0px;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: #14b45c;
    border-color: #14b45c;
}

.btn-outline-primary {
    color: #14b45c;
    border-color: #14b45c;
}

    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: #14b45c;
        border-color: #14b45c;
    }

.btn-az-primary:not(:disabled):not(.disabled):active, .btn-az-primary:not(:disabled):not(.disabled).active, .show > .btn-az-primary.dropdown-toggle {
    color: #fff;
    background-color: #14b45c;
    border-color: #14b45c;
}

.az-column-signup-left {
    background-image: url('../../../assets/img/header_background.svg');
    position: relative;
    background-size: cover;
    min-height: 600px;
    color: #ffff;
}
@media only screen and (max-width: 600px) {
    div.responsive {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    div.col-md-5.dsdf {
        width: 100%;
        padding-top:0px;
    }
}
@media only screen and (max-width: 1030px) {
    div.dsdf {
        max-width: 100%;
        padding-top: 0px;
    }
}
@media only screen and (min-width: 1030px) {
    div.dsdf {
        max-width: 100%;
        padding-top: 0px;
    }
}
/*@media only screen and (min-width: 768px) {
    div.dsdf {
        width: 100%;
    }
}*/