
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1>Cookie giỏ hàng</h1>
        </div>
        <div class="col-2  offset-4">
            <div class="text-right">
                <button class="btn btn-danger" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-fw fa-trash"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" onclick="RemoveAll()">Xóa tất cả cookie</a>
                    <a class="dropdown-item" onclick="RemoveExpried()">Xóa cookie hết hạn</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="card shadow">
            <div class="card-header">
                <h6>
                    Danh sách cookie giỏ hàng
                </h6>
            </div>
            <div class="card-body">
                @*<form>
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" placeholder="Nhập tên hãng giày" title="Nhập tên hãng giày" maxlength="255" name="keysearch" value="@ViewBag.keysearch" />
                            </div>
                            <div class="col-2 offset-6">
                                <button class="btn btn-primary btn-block" type="submit">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>*@
                <div class="row mt-3">
                    <div class="col-12" id="list-cookie">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Modal*@
<div class="modal fade bd-example-modal-lg" id="modal-form-lg" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="content-form-lg">

        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="modal-form-md" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="content-form-md">

        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="modal-form-sm" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="content-form-sm">

        </div>
    </div>
</div>
<script>
    loadListCookie()
    function loadListCookie() {
        $("#list-cookie").load("/Admin/CookieCart/ListCookie")
    }
    function Detail(id) {
        loading(true)
        $("#content-form-lg").load("/Admin/CookieCart/Detail?id=" + id, function (response) {
            $("#modal-form-lg").modal('show');
            loading(false)
        });
    }
    function DeletePromotion(id) {
      
        Swal.fire({
            title: 'Xóa',
            text: "Xóa mã khuyến mãi?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý!',
            cancelButtonText: 'Hủy!'
        }).then((result) => {
            if (result.isConfirmed) {
                loading(true)
                $.ajax({
                    url: '/Admin/Promotion/DeletePromotion?id=' + id,
                    success: function (rs) {
                        loading(false)
                        if (rs) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Xóa thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Xóa thất bại',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }

                    }
                });
            }
        })
    }
    function RemoveAll() {
    
        Swal.fire({
            title: 'Xóa',
            text: "Xóa tất cả cookie?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý!',
            cancelButtonText: 'Hủy!'
        }).then((result) => {
            if (result.isConfirmed) {
                loading(true)
                $.ajax({
                    url: '/Admin/CookieCart/RemoveAll',
                    success: function (rs) {
                        loading(false)
                        if (rs) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Xóa thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            loadListCookie()
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Xóa thất bại',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }

                    }
                });
            }
        })
    }
    function RemoveExpried() {

        Swal.fire({
            title: 'Xóa',
            text: "Xóa tất cả cookie hết hạn?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý!',
            cancelButtonText: 'Hủy!'
        }).then((result) => {
            if (result.isConfirmed) {
                loading(true)
                $.ajax({
                    url: '/Admin/CookieCart/RemoveAll',
                    success: function (rs) {
                        loading(false)
                        if (rs) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Xóa thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            loadListCookie()
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Xóa thất bại',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }

                    }
                });
            }
        })
    }
    function RemoveAll() {
 
        Swal.fire({
            title: 'Xóa',
            text: "Xóa tất cả cookie?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý!',
            cancelButtonText: 'Hủy!'
        }).then((result) => {
            if (result.isConfirmed) {
                loading(true)
                $.ajax({
                    url: '/Admin/CookieCart/RemoveAll',
                    success: function (rs) {
                        loading(false)
                        if (rs) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Xóa thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            loadListCookie()
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Xóa thất bại',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }

                    }
                });
            }
        })
    }
    function Remove(id) {
        Swal.fire({
            title: 'Xóa',
            text: "Xóa cookie?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý!',
            cancelButtonText: 'Hủy!'
        }).then((result) => {
            if (result.isConfirmed) {
                loading(true)
                $.ajax({
                    url: '/Admin/CookieCart/Remove?id='+id,
                    success: function (rs) {
                        loading(false)
                        if (rs) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Xóa thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            $("#modal-form-lg").modal('hide');
                            loadListCookie()
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Xóa thất bại',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }

                    }
                });
            }
        })
    }
    function RemoveProductInCart(item,id) {
        Swal.fire({
            title: 'Xóa',
            text: "Xóa sản phẩm trong giỏ?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý!',
            cancelButtonText: 'Hủy!'
        }).then((result) => {
            if (result.isConfirmed) {
                loading(true)
                $.ajax({
                    url: '/Admin/CookieCart/RemoveProductInCart?id=' + id,
                    success: function (rs) {
                        loading(false)
                        if (rs) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Xóa thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                            $(item).closest('.row-cart').remove()
               
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Xóa thất bại',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }

                    }
                });
            }
        })
    }
</script>