
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h1>Tài khoản quản lý</h1>
        </div>
        <div class="col-2  offset-4">
            <button class="btn btn-success btn-block" onclick="AddManager()" >Thêm</button>
        </div>
    </div>
    
    <div>
        <div class="card shadow">
            <div class="card-header">
                <h6>
                    Danh sách tài khoản quản lý
                </h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Nhập số điện thoại hoặc email" title="Nhập số điện thoại hoặc email" maxlength="255" name="keysearch" value="@ViewBag.keysearch" />
                        </div>
                        <div class="col-2 offset-7">
                            <button class="btn btn-primary btn-block" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
                <div class="row mt-3">
                    <div class="col-12" id="list-customer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Modal*@
<div class="modal fade bd-example-modal-lg"  id="modal-form-lg" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="content-form-lg">

        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="modal-form-md" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="content-form-md">

        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="modal-form-sm" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="content-form-sm">

        </div>
    </div>
</div>
<script>
    loadListManagerUser()
    function loadListManagerUser() {
        $("#list-customer").load("/user/ListManagerUser?keysearch=@ViewBag.keysearch")
    }
    function AddManager() {
        loading(true)
        $("#content-form-lg").load("/user/AddManagerUser?id", function (response) {
                $("#modal-form-lg").modal('show');
        });
        loading(false)
    }
    function EditManager(id) {
        loading(true)
        $("#content-form-lg").load("/user/AddManagerUser?id="+id, function (response) {
            $("#modal-form-lg").modal('show');
        });
        loading(false)
    }
    function DeleteManager(id) {
        Swal.fire({
            title: 'Xóa',
            text: "Xóa tài khoản quản lý?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Đồng ý!',
              cancelButtonText: 'Hủy!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/user/DeleteManagerUser?id=' + id,
                    success: function (rs) {
                        if (rs) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Xóa thành công',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Xóa thất bại',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                      
                    }
                });
            }
        })
    }
</script>