@{
    Layout = null;


}
@model List<LibData.District>
@if (ViewBag.ProvinceId > 0 || ViewBag.ProvinceId != null)
{
    <label>
        Quận/Huyện<span class="text-danger">*</span>
    </label>
    <select class="form-control" name="DistrictId" id="DistrictId" onchange="SelectWard()">
        @foreach (var item in Model)
        {

            <option value="@item.Id" @(item.Id == ViewBag.selectedd ? "selected" : "")>@item.Name</option>
        }
    </select>
    @*@Html.DropDownList("DistrictId", new SelectList(Model, "Id", "Name", ViewBag.seletedd), new { @class = "form-control select2-no-search", @onchange = "SelectWard()" })*@
}
else
{
    <label>
        Quận/Huyện<span class="text-danger">*</span>
    </label>
    <select class="form-control" name="DistrictId" id="DistrictId" onclick="" disabled>
        <option value="0">Chọn Quận/Huyện</option>
    </select>
}

<script>
    SelectWard()
</script>
