@model List<LibData.HinhAnhSanPham>
@foreach (var item in Model)
{
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="@Manage.Controllers.SanPhamController._ImagesPath.Replace("~","")/@item.TenFile" style="" id="imgshowcur" align="left">
            <div class="caption">
                <a  onclick="DeleteFile(@item.Id)">Remove</a>
            </div>
        </div>
    </div>
}