@{
    ViewBag.Title = "Thống kê";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Thống kê</h2>
        </div>
    </div>
    <div class="row" id="dashboard-revenue">

    </div>
    <div class="row" id="dashboard-order">

    </div>
    <div class="row" id="dashboard-productsold">

    </div>
    <div class="row" id="dashboard-inventory">

    </div>
</div>
@*Modal*@
<script>
    $("#dashboard-order").load("/Admin/Dashboard/DashboardOrder")
    $("#dashboard-revenue").load("/Admin/Dashboard/DashboardRevenue")
    $("#dashboard-productsold").load("/Admin/Dashboard/DashboardProductSold")
    $("#dashboard-inventory").load("/Admin/Dashboard/DashboardInventory")
    $("#navDashboard").addClass("active")
</script>