
<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
            <div class="swiper-slide" style="background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center center / cover no-repeat;"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<div class="row" id="discount">

</div>
<div class="row" id="topsell">

</div>
<div class="row" id="newproduct">

</div>
<div class="row" id="male">

</div>
<div class="row" id="female">

</div>

<script>
    LoadList();
    console.log(1);
    function LoadList() {
        console.log(2);
    $("#discount").load("/Home/ListProduct?Type=@LibData.Configuration.ViewConfig.DISCOUNT")
    $("#topsell").load("/Home/ListProduct?Type=@LibData.Configuration.ViewConfig.TOPSALE")
    $("#newproduct").load("/Home/ListProduct?Type=@LibData.Configuration.ViewConfig.PRODUCTNEW")
    $("#male").load("/Home/ListProduct?Type=@LibData.Configuration.ViewConfig.MALE")
    $("#female").load("/Home/ListProduct?Type=@LibData.Configuration.ViewConfig.FEMALE")
    }

</script>
