@model List<LibData.Product>
@{
    Layout = null;
}
@if (Model.Count > 0)
{
    <div class="shopping-grid">
        <div class="container">
            <h3 class="" align="center">Khuyễn mãi</h3>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid7">
                            <div class="product-image7">
                                <a href="#">
                                    <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-1.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="" class="fa fa-search"></a></li>
                                    <li><a href="" class="fa fa-shopping-bag"></a></li>
                                    <li><a href="" class="fa fa-shopping-cart"></a></li>
                                </ul>
                                <span class="product-new-label">New</span>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Men's Blazer</a></h3>
                                <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                </ul>
                                <div class="price">
                                    $15.00
                                    <span>$20.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
