.accordion .card {
    border-radius: 3px !important;
    background: #f4f5f8;
}

    .accordion .card .card-body {
        background: #fff;
        padding: 0px;
    }
/*Payment*/
.provider-payment {
    /* max-width: 100px; */
}

    .provider-payment .card {
        cursor: pointer;
        padding: 10px 17px 10px 17px;
        margin: 6px 6px;
        margin-left: 0px;
        display: inline-block;
        width: 175px;
        text-align: center;
        background: #f4f8f9;
        border-radius: 6px !important;
        border: 2px solid rgb(255 255 255);
    }

        .provider-payment .card img {
            max-width: 50px;
        }

        .provider-payment .card .card-body {
            padding: 0px;
            background: #fff0;
        }

        .provider-payment .card .card-text {
            text-align: center;
            /* font-weight: 600; */
            color: #9E9E9E;
            margin-top: 12px;
            font-size: 11px;
        }

        .provider-payment .card.active {
            background: #ffffff;
            border: 2px solid rgb(20 180 92);
        }

.rdiobox span {
    padding-left: 22px;
    font-weight: 700;
    color: #004d85;
}

.captcha a {
    /* height: 29px; */
    display: block;
    margin-bottom: 0px;
}

.captcha {
    /* height: 202px; */
    color: #7987a1;
    text-transform: uppercase;
    line-height: 2;
    margin-bottom: 10px;
    letter-spacing: .2px;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

    .captcha img {
        margin-bottom: 15px;
        width: 123px;
    }

    .captcha br {
        display: none;
    }

.field-validation-error {
    text-transform: none;
}

.payment-result {
    background: #fff;
    padding: 50px;
    border-radius: 6px;
}

.payment-result-success {
    color: #1cab4e;
    font-weight: 600;
    font-size: 2em;
    padding: 10px;
}

.payment-result-fail {
    color: #ff3e3e;
    font-weight: 600;
    font-size: 2em;
    padding: 10px;
}

.dropdown-menu-more {
    background-color: #ffff;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    border-radius: .25rem;
}

.pagination-circled .page-item + .page-item {
    margin-left: 5px;
}

.pagination-circled .page-item:first-child .page-link, .pagination-circled .page-item:last-child .page-item a {
    border-radius: 100%;
}

.pagination-circled .page-item a {
    padding: 0;
    width: 40px;
    border-radius: 100%;
}

.page-item a {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3366ff;
    background-color: #fff;
    border: 1px solid #cdd4e0;
}

.page-item a {
    color: #90a4ae;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 38px;
    border-width: 0;
    background-color: #fff;
    margin-left: 0;
    font-weight: 500;
}

    .page-item a i {
        font-size: 18px;
        line-height: 0;
    }

    .page-item a:hover, .page-item a:focus {
        color: #1c273c;
        background-color: #cdd4e0;
    }

    .page-item a:hover {
        z-index: 2;
        color: #0039e6;
        text-decoration: none;
        background-color: #e3e7ed;
        border-color: #cdd4e0;
    }

    .page-item a:focus {
        z-index: 2;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(51, 102, 255, 0.25);
    }

.page-item:first-child .page-item a {
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.page-item:last-child .page-item a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.page-item.active a {
    z-index: 1;
    color: #fff;
    background-color: #3366ff;
    border-color: #3366ff;
}

.page-item.disabled .page-item a {
    color: #7987a1;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #cdd4e0;
}

.pagination-lg .page-item a {
    padding: 0.75rem 1.5rem;
    font-size: 1.09375rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-item a {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-item a {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-item a {
    padding: 0.25rem 0.5rem;
    font-size: 0.76562rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-item a {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-item a {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

.page-item.active a {
    background-color: #5f6d88;
}

.span-table {
    font-size: 12px;
    padding: 8px;
    color: #607D8B;
    background-color: #f4f8f9;
}

th .pagination-container .pagination {
    margin: 0px;
}

    th .pagination-container .pagination .page-item a {
        margin: 0px 2px;
        border-radius: 6px;
    }

.input-search {
    padding: 0px 0px;
}

    .input-search span {
        border-color: #fff;
        color: #7987a1;
        background: #fff;
    }

    .input-search input {
        border-color: #fff;
        background: #fff;
        padding: 18px 10px;
    }

.btn-white {
    background: #fff;
    border: none !important;
    color: #7987a1;
}

    .btn-white:hover {
        background: #fff;
        border: none !important;
        color: #7987a1 !important;
    }

.btn-group {
}

.btn-white.active {
    background: #ddeff9;
    color: #11a0f8;
    font-weight: 500;
}

.btn-primary {
    color: #fff !important;
    background-color: #11a0f8 !important;
    border-color: #11a0f8 !important;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #11a0f8;
        border-color: #11a0f8;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #11a0f8;
        border-color: #11a0f8;
    }

.az-header-right {
    justify-content: space-between;
}

.input-search-bg span {
    background: #f4f8f9;
    border-color: #f4f8f9;
}

.input-search-bg input {
    background: #f4f8f9;
    border-color: #f4f8f9;
}

    .input-search-bg input:focus {
        background: #f4f8f9;
        border-color: #f4f8f9;
    }

.custom-nav-hotline .nav-link {
    background: #f4f8f9;
    padding: 10px !important;
    margin-left: 0px !important;
    /* border: 1px solid #97a3b9 !important; */
    border-left: none !important;
}

    .custom-nav-hotline .nav-link.active {
        color: #fff;
        background: #3bb001;
        padding: 10px;
        margin: 0px;
    }

tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.table th {
    background: no-repeat;
}

.badge-outline-primary {
}

.badge-outline-secondary {
}

.badge-outline-success {
    font-size: 12px;
    padding: 8px;
    color: #66cd2e;
    background-color: #f1faed;
}

.badge-outline-danger {
    font-size: 12px;
    padding: 8px;
    color: #f33155;
    background-color: #feeaee;
}

.badge-outline-warning {
}

.badge-outline-info {
}

.badge-outline-light {
    font-size: 12px;
    padding: 8px;
    color: #607D8B;
    background-color: #f4f8f9;
}

.badge-outline-dark {
}

.form-search {
    background: #ffff;
    padding: 8px;
    border-radius: 8px;
}

    .form-search .form-group {
        margin: 0px;
        padding: 6px 8px;
    }

        .form-search .form-group .form-control {
            background: #f4f8f9;
            border-color: #f4f8f9;
        }

.dropdown-item i {
    font-size: 18px;
    margin-right: 8px;
}

.az-avatar img {
}

.form-search .select2-selection {
    background: #f4f8f9;
    border: none;
    height: 35px;
}

.az-profile-money {
    /* color: #11a0f8; */
}

    .az-profile-money span {
        font-size: 15px;
        font-weight: 400;
        color: #004d85;
        font-weight: 700;
    }

.az-profile-name {
    color: #004d85;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 2px;
}

.az-profile-overview {
}

    .az-profile-overview .az-img-user {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

.az-profile-social-list .media-body {
    margin-left: 0px;
}

.card-none-borber {
    border: none !important
}

.az-profile-overview .btn-icon {
}

.card-none-borber table td {
    border-top: 2px solid #f4f8f9;
}

.az-profile-list {
}

    .az-profile-list .az-profile-money {
        color: #9E9E9E;
        font-size: 13px;
    }

    .az-profile-list .az-profile-package {
        color: #9E9E9E;
        font-size: 13px;
        margin-bottom: 10px;
    }

.az-profile-package span {
    font-size: 14px;
    /* color: #004d85; */
    font-weight: 700;
}

.nav-user-action {
}

    .nav-user-action .nav-link {
        font-size: 20px;
        padding: 0px 8px;
        color: #97a3b9;
    }

        .nav-user-action .nav-link:hover {
            color: #1cab4e;
        }

.nav-link-circle {
    color: #fff;
    padding: 4.5px 5px;
    border-radius: 50px;
    line-height: 18px;
    font-size: 20px;
}

.btn-more-cus:hover {
    font-size: 14px;
    color: #0a8e10 !important;
}

.btn-more-cus {
    font-size: 14px;
}

.form-search .checkbox-cus label {
    margin: 0px
}

.avatar-xxl {
    width: 100px;
    height: 100px;
    font-size: 35px;
}

.card-topup {
    padding: 15px;
    border: none;
}

.span-money {
    font-size: 15px;
    color: #004d85;
    font-weight: 700;
}

.az-profile-name-text {
    color: #7987a1;
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.socical-logo {
    text-align: left;
    line-height: 30px;
    font-size: 13px;
    color: #5f6d88;
}

    .socical-logo img {
        margin-left: 8px;
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 100%;
    }

.offer-moneys button:focus {
    color: #14b45c;
}

.offer-moneys button {
    background: #f4f8f9;
    border: none;
    font-weight: 500;
}

.az-content-dashboard-ten .az-content-title {
    letter-spacing: 0px;
    color: #004d85;
    text-transform: uppercase;
}

.content-recharge-to-vbot input {
    background: #edf2f5;
    border: none;
    font-size: 14px;
    height: 38px;
    font-weight: 500;
}

    .content-recharge-to-vbot input:focus {
        background: #edf2f5;
        border: none;
    }

.content-recharge-to-vbot .input-group-append > .input-group-text {
    background: #edf2f5;
    border: none;
    font-size: 14px;
    height: 38px;
    font-weight: 500;
    border-radius: 3px;
}

.az-iconbar {
    z-index: 1;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #f4f8f9;
}

#form-add-package .select2-container {
    width: 100% !important;
}

.member-add-search-item {
    padding: 8px 0px;
    border-bottom: 1px solid #cdd4e0;
}

.hotline-add-search-item {
    padding: 8px 0px;
    border-bottom: 1px solid #cdd4e0;
}


img:not([src]) {
    visibility: hidden;
}

.member-item p {
    font-size: 13px;
    margin-bottom: 6px;
    color: #5f6d88;
}

.az-iconbar-primary {
    background-color: #03c75b;
    padding-top: 0;
}

.az-profile-menu .dropdown-item i {
    color: #9E9E9E;
}

.nav-td-table {
    float: right;
}

    .nav-td-table .nav-link i {
        font-size: 20px;
    }

    .nav-td-table .nav-link {
        color: #cdd4e0;
        padding: 0px 10px;
    }

        .nav-td-table .nav-link i:hover {
            color: #03c75b;
        }
