
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Thương hiệu</h2>
        </div>
        <div class="col-2  offset-4">
            <button class="btn btn-success btn-block" onclick="AddBrand()">Thêm</button>
        </div>
    </div>

    <div>
        <div class="card shadow">
            <div class="card-header">
                <h6>
                    Danh sách hãng giày
                </h6>
            </div>
            <div class="card-body">
                @*<form>
                    <div class="row">
                        <div class="col-4">
                            <input type="text" class="form-control" placeholder="Nhập tên hãng giày" title="Nhập tên hãng giày" maxlength="255" name="keysearch" value="@ViewBag.keysearch" />
                        </div>
                        <div class="col-2 offset-6">
                            <button class="btn btn-primary btn-block" type="submit">Tìm kiếm</button>
                        </div>
                    </div>
                </form>*@
                <div class="row mt-3">
                    <div class="col-12" id="list-brand">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Modal*@
<div class="modal fade bd-example-modal-lg" id="modal-form-lg" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="content-form-lg">

        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-md" id="modal-form-md" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="content-form-md">

        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-sm" id="modal-form-sm" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id="content-form-sm">

        </div>
    </div>
</div>
<script>
    loadListBrand()
    function loadListBrand() {
        $("#list-brand").load("/Admin/Brand/ListBrand")
    }
    function AddBrand() {
        loading(true)
        $("#content-form-md").load("/Admin/Brand/AddBrand?id", function (response) {
            $("#modal-form-md").modal('show');
            loading(false)
        });
    }
    function EditBrand(id) {
        loading(true)
        $("#content-form-md").load("/Admin/Brand/AddBrand?id="+id, function (response) {
            $("#modal-form-md").modal('show');
            loading(false)
        });
    }
    
</script>